.container-articles {

    background-color: @articles-background;
    padding: 60px 0 0;
    text-align: center;

    &__title{
        max-width: 860px;
        margin: 0 auto;
        padding: 0 60px;

        color: @color-dark-green;
        .set-font(3.3);
        line-height: 1.15;
        letter-spacing: 0.2px;
    }

    .articles {
        position: relative;
        width: 100%;

        margin-top: 40px;
        margin-bottom: 0;
        padding: 0 60px;
        
        justify-content: center;
        counter-reset: box-counter;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;

        &-item {
            position: relative;
            align-items: center;
            width: calc(33.333% - 45px);

            @media(max-width: 1070px){
                width: calc(50% - 25px);
                margin-right: 25px;
                margin-bottom: 25px;
                &:nth-child(2n){
                    margin-right: 0;
                }
            }

            @media(max-width: 500px){
                display: block;
                width: 100%;
                margin: 45px auto;
            }

            margin-right: 45px;
            margin-bottom: 45px;
            
            @media(min-width: 1070px){
                &:nth-child(3n){
                    margin-right: 0;
                }
            }


            &:last-child {
                margin-right: 0;
            }

            box-sizing: border-box;
            padding: 32px;
            text-align: center;
            vertical-align: top;
            background-color: @color-white;

            &__container {
                width: 100%;
                max-height: 190px;
                margin-bottom: 50px;
                overflow: hidden;
            }
        }
    }
}

